body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  background-image: url(/src/images/fondo.jpg);
  position: fixed;
  background-repeat: no-repeat;
  margin: 0;
  width: 130vw;
  height: 100vh;
  background-size: cover;
  right:0;
  z-index: -1; 
}

.containerLoging {
  position: absolute;
  width: 50%;
  height: 60%;
  top:15%;
  left: 37%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50px;
}

.container{

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SECCIÓN DE MENU */
.menuBody{
display: flex;
flex-direction: column;
width: 100vw;
margin-bottom: 100px;
}

.navbar-light{
  width: 100vw;
  height: 7vh;
  display: grid;
  grid-template-columns: 33% 34% 33% ;
  grid-template-rows: 100%;
  text-align: center;  
  overflow: hidden;
  position: fixed;
  z-index: 2;
}

.form-select{
  width: 100px;
  height: 50px;
  margin-top: 55px;
  }

.mb-3 {
  display: grid;
  grid-template-columns: 30% 40% 30% ;
  grid-template-rows: 100%;
  align-items: center;  
}


.add{
margin-left:120px;
}

i {
  font-size: 30px;
  color: aliceblue;
}

.btnCard {
  border-radius: 150px;
  background-color: rgb(47, 195, 28);
  border-color: rgb(108, 192, 24);
}

.btnRemove {
  border-radius: 150px;
  background-color: rgba(241, 18, 18, 0.938);
  border-color: rgb(189, 5, 5);
}

.show{
  display: block;
}



