body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login {
  background-image: url(/src/images/fondo.jpg);
  position: fixed;
  background-repeat: no-repeat;
  margin: 0;
  width: 130vw;
  height: 100vh;
  background-size: cover;
  right:0;
  z-index: -1; 
}

.containerLoging {
  position: absolute;
  width: 50%;
  height: 60%;
  top:15%;
  left: 37%;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50px;
}

.container{

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BIENVENIDA */
.selectUser{
  margin-top: 250px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  position: fixed;
}

.display-5{
  color: black;
}

a {
  text-decoration: none;
  text-align: center;
}


/* SECCIÓN DE MENU */
.menuBody{
display: flex;
flex-direction: column;
width: 100vw;
margin-bottom: 100px;
}

.navbar-light{
  width: 100vw;
  height: 7vh;
  display: grid;
  grid-template-columns: 5% 32% 32% 32% ;
  grid-template-rows: 100%;
  text-align: center;  
  overflow: hidden;
  position: fixed;
  z-index: 2;
  background-color: rgb(78, 34, 7);
}
.navbar-light a {
  color: aliceblue;
}

.form-select{
  width: 100px;
  height: 50px;
  margin-top: 55px;
  }

.mb-3 {
  display: grid;
  grid-template-columns: 30% 40% 30% ;
  grid-template-rows: 100%;
  align-items: center;  
}


.add{
margin-left:120px;
}


.quantity{
  font-size: 30px;
}

.btnCart{
  border-color: rgba(255, 0, 0, 0);
  color: rgb(78, 34, 7);
  font-size: 30px;
}

.btn-success{
  margin-bottom: 100px;
  background-color: rgb(96, 192, 0);
  border-color: rgb(105, 206, 5);

}



/* BASKET */

.box{
  display: grid;
  grid-template-columns: 40% 20% 40% ;
  width: 80vw;
  text-align: center; 
  margin-top: 5px;
}
.montoResumen{
  display: grid;
  grid-template-columns: 50% 50% ;
  width: 30vw;
  text-align:left; 
  margin-top: 5px;
  margin-left: 200px;
  border-top: black;
}
.form-floating{
  margin-top: 5%;
  width: 400px;
  height: 200px;
}


/* ENVIADO */

.alert-success{
margin-top: 50%;

}